# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
android/.project
android/app/.project
android/app/bin/

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/Pods/
ios/xcuserdata/
ios/*.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/build/
ios/.xcode.env.local
vendor/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.yarn-integrity
logs
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# testing
coverage/
__tests__/coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# Temporary files
*.tmp
*.bak
